@import "../../styles/utils";

.restaurant-card {
  --height: 367px;
  height: var(--height);
  width: 100%;

  cursor: pointer;

  &__img {
    height: calc(var(--height) * 0.7);
    width: 100%;

    object-fit: cover;
  }

  &__title {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.2;
    font-size: 16px;
    margin: 8px 0;
  }

  &__categories {
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    margin-bottom: 4px;
  }

  &__time {
    color: #000;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    margin-top: 7px;
    padding: 0 8px;
    background-color: #e5e5e5;
  }
}
