@import "../../styles/utils";

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 20px;

  @media screen and (max-width: $break-point-large) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $break-point-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $break-point-phone) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 0;
    border: 1px solid #a0a0a0;
    &:hover {
      cursor: pointer;
    }
  }

  &__left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
  }

  &__title {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 5px;
  }

  &__description {
    color: #626262;
    font-size: 14px;
    margin-bottom: 14px;
  }

  &__price {
    font-size: 16px;
    line-height: 21px;
  }

  &__right-section {
    min-width: 158px;
    width: 158px;
    overflow: hidden;
    border-left: 1px solid #a0a0a0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
