.select {
  position: relative;
  width: 164px;

  &__header {
    padding-left: 40px;
    border: 1px solid #fff;
    color: #fff;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    height: 20px;
    width: 20px;
    transform: translateY(-50%);
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    height: 10px;
    width: 10px;
    border: 2px solid #fff;
    border-left: transparent;
    border-top: transparent;
    transform-origin: 75% 75%;
    transform: translateY(-50%) rotate(45deg);
    transition: 0.2s;

    &--opened {
      transform: translateY(-50%) rotate(-135deg);
    }
  }

  &__body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid #fff;
    background: #262626;
    transform: translateY(100%);
  }

  &__option {
    color: #fff;
  }

}
