@import "../../styles/utils";

.footer {
  padding: 64px 0;

  background-color: #262626;

  @media (max-width: $break-point-tablet) {
    padding: 40px 0;
  }

  &__top-part {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #c4c4c4;
  }

  &__main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  &__logo-container {
    @extend %flex-row-center;
    margin-bottom: 40px;

    @media (max-width: $break-point-tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__mobile-app {
    display: inline-block;

    @media (max-width: $break-point-tablet) {
      display: block;
      margin-bottom: 20px;
    }

    &:first-child {
      margin-right: 20px;
    }

  }

  &__logo {
    margin-right: 40px;

    @media (max-width: $break-point-tablet) {
      margin-bottom: 40px;
    }
  }

  &__google-play,
  &__app-store {
    width: 135px;
    height: 40px;
    border-radius: 6px;
    z-index: -1;
    border: 1px solid silver;

  }

  &__app-store {
    background: url("../../assets/images/app-store.png") no-repeat;
    background-size: cover;
  }

  &__google-play {
    background: url("../../assets/images/google-play.png") no-repeat;
    background-size: cover;
  }

  &__top-part,
  &__bottom-part {
    @extend %flex-row-center;
    align-items: flex-start;

    @media (max-width: $break-point-phone-lg) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__main,
  &__copyright {
    flex-basis: 45vw;
    padding-right: 40px;

    @media (max-width: $break-point-phone-lg) {
      flex-basis: initial;
    }
  }

  &__top-links {
    margin-right: 10vw;
  }

  &__copyright {
    font-size: 14px;
    color: #fff;
    @media (max-width: $break-point-phone-lg) {
      order: 1;
    }
  }

  &__bottom-links {
    margin-bottom: 40px;
    @extend %flex-row-center;

    @media (max-width: $break-point-phone-lg) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
      order: 1;
    }
  }

  &__misc {
    @media (max-width: $break-point-phone-lg) {
      display: flex;
      flex-direction: column;
    }
  }
}

.links {
  &__link {
    display: block;
    margin-bottom: 16px;
    color: #fff;
    white-space: nowrap;

    &:not(:last-of-type) {
      margin-right: 40px;
    }

    &:hover {
      color: #62b80d;
    }
  }
}

.social {
  &__link {
    margin-right: 20px;
  }

  &__facebook:hover {
    stroke: #00acee;
    fill: #00acee;
    color: #00acee;
  }
}
